li {
  position:relative;
  display:flex;
  flex-direction:row;
  column-gap:10px;
  padding:10px;
  justify-content:center;
  
  background-color:#606f6d;
  color:#26dd17;
  list-style:none;
  border-radius:10px;
  overflow:auto;
}

.completed_todo{
  text-decoration:line-through;
}


