* {
  box-sizing:border-box;
  padding:0;
  margin:0;
}


body {
  margin: 0;
  font-family:'PT Serif', serif,Arial,Helvetica;

  display:flex;
  justify-content:center;

  background-color:#28593e;
}

#root {
  width:360px;
  padding:12px;
  padding-bottom:40px;
  position:relative;
  display:flex;
  justify-content:center;
  flex-direction:column;
  row-gap:10px;
  
  background-color:#4a8fcc;
  border-radius:10px;
  
}
